* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "kanit";
  src: url(font/Kanit-Regular.ttf);
}

@font-face {
  font-family: "roboto";
  src: url(font/RobotoCondensed-Bold.ttf);
}

@font-face {
  font-family: "right";
  src: url(font/Righteous-Regular.ttf);
}

body {
  background-color: rgb(39, 31, 31);
  color: white;
}



/* header */

.home-page {
  background: url(img/bg-desktop.png) no-repeat;
  background-size: cover;
}

/* navbar */
.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;

  color: white;
}

.navbar-links {
  margin: 0;
  padding: 0;
  display: flex;
}

.navbar-links ul {
  display: flex;
  margin-top: 10px;
}

.navbar-links li {
  list-style: none;
}

.navbar-links li a {
  text-decoration: none;
  color: white;
  padding: 4px 20px;
  display: block;
  font-family: "roboto";
}

.navbar-links li a:hover {
  background-color: rgb(7, 74, 105);
  border-radius: 10px;
  border: none;
}

/* navbar end */

/* logo */
.logo-section {
  margin: 0.5rem;
  display: flex;
}

.logos {
  display: flex;
  text-decoration: none;
  color: white;
}

.logos h3 {
  margin-left: 20px;
}

.logos:hover {
  color: rgb(204, 198, 198);
}

.logo {
  width: 40px;
  height: 40px;
}

/* logo end */

/* toggle */
.toggle-button {
  position: absolute;
  top: 0.75rem;
  right: 1rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;

}

.toggle-button .bar {
  height: 3px;
  width: 100%;
  background-color: white;
  border-radius: 10px;
  transition: all 0.5s;
}

input {
  width: 30px;
  height: 30px;
  position: absolute;
  opacity: 0;
  z-index: 1;

}

input:checked~.bar1 {
  transform: rotate(45deg) translateY(12px);

}

input:checked~.bar2 {
  transform: scale(0);
}

input:checked~.bar3 {
  transform: rotate(-45deg) translateY(-12px);
}



/* media end */
.visi,
.visi-info {
  margin: 0;
  padding: 5px;
}

/* header end */

/* main-content*/
.detail {
  padding: 0 10px;
  font-family: "kanit";
}

.main-content {
  padding-bottom: 120px;
  padding-top: 200px;
  align-items: center;
  height: 100vh;

}

.pictures {
  display: block;
  justify-content: center;
  text-align: center;
  padding: 10px;
}

.brand {
  padding-bottom: 20px;
  font-family: "right";
  font-size: 40px;
}


.visi,
.visi-info {
  margin: 10px 40px 10px 40px;
  padding: 10px;
  text-align: center;
  justify-content: center;
}

#gambar {
  width: 100%;
  padding: 20px 0 20px 0;
}

/*detail*/
.ltr {
  padding-top: 50px;
}

.list {
  padding: 10px 20px 10px 20px;
}


/* footer */
.closing {
  margin: 20px;
}

#contact {
  margin: 10px;
  display: flex;
  justify-content: space-between;
}

.media ul li {
  display: block;
  margin-left: 10px;
}

.media ul li a {
  text-decoration: none;
  color: white;
}

.media ul li a:hover {
  border-bottom: 2px solid white;
}

.sosmed {
  height: 30px;
  padding: 5px;
  margin-top: 5px;
  margin-bottom: -10px;
}

.email a {
  text-decoration: none;
}

footer {
  margin: 20px;
  padding: 5px;
}

/* media */
@media screen and (max-width: 1240px) {
  #gambar {
    width: 60%;
  }
}

@media screen and (max-width: 576px) {
  .toggle-button {
    display: flex;
    position: absolute;
    z-index: 5;
  }

  .navbar-links {
    display: none;
    color: white;
    position: absolute;
    z-index: 1;
    padding-top: 30px;

  }

  .navbar {
    flex-direction: column;
    align-items: flex-start;
    position: absolute;
    width: 100%;
    z-index: 2;
  }

  .navbar-links ul {
    flex-direction: column;
    margin-left: 20px;
    width: 100%;
    padding-top: 220px;
  }

  .navbar-links li a {
    width: 100%;

  }


  .navbar-links.active {
    display: flex;
  }

  .logo-section {
    position: absolute;
    z-index: 5;
    top: 10px
  }

  .logos h3 {
    margin-top: 5px;
  }

  /* content */


  .ltr {
    margin-top: 100px;
  }
}