* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "kanit";
  src: url(font/Kanit-Regular.ttf);
}

@font-face {
  font-family: "roboto";
  src: url(font/RobotoCondensed-Bold.ttf);
}

@font-face {
  font-family: "right";
  src: url(font/Righteous-Regular.ttf);
}

body {
  background-color: rgb(63, 93, 243);
  color: white;
  overflow-x: hidden;
}

/* header */
header {}

.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: rgb(132, 51, 238);
  color: white;
}

.logo-section {
  margin: 0.5rem;
}

.navbar-links {
  margin: 0;
  padding: 0;
  display: flex;
}

.navbar-links ul {
  display: flex;
}

.navbar-links li {
  list-style: none;
}

.navbar-links li a {
  text-decoration: none;
  color: white;
  padding: 4px 20px;
  display: block;
  font-family: "roboto";
}

.navbar-links li a:hover {
  background-color: rgb(15, 142, 201);
  border-radius: 20px;
  border: none;
}

/* toggle */
.toggle-button {
  position: absolute;
  top: 0.75rem;
  right: 1rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
}

.toggle-button .bar {
  height: 3px;
  width: 100%;
  background-color: white;
  border-radius: 10px;
}

/* media */
@media screen and (max-width: 1240px) {
  #gambar {
    width: 60%;
  }
}

@media screen and (max-width: 576px) {
  .toggle-button {
    display: flex;
  }

  .navbar-links {
    display: none;
    width: 100%;
    margin-left: 200px;

  }

  .navbar {
    flex-direction: column;
    align-items: flex-start;
    position: absolute;
    width: 100%;
  }

  .navbar-links ul {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }



  .navbar-links li a {
    padding: 0.5rem 1rem;
  }

  .navbar-links.active {
    display: flex;
  }

  body {
    margin: 0;
    display: absolute;
    padding: 0;
  }
}

.visi,
.visi-info {
  margin: 0;
  padding: 5px;
}

/* header end */

/* main-content*/
.detail {
  padding: 0 10px;
  font-family: "kanit";
}

.main-content {
  padding-bottom: 120px;
  padding-top: 200px;
  align-items: center;
  height: 100vh;
  background-color: blue;
}

.pictures {
  display: block;
  justify-content: center;
  text-align: center;
  padding: 10px;
}

.brand {
  padding-bottom: 20px;
  font-family: "right";
  font-size: 40px;
}

.kata {
  font-family: "kanit";
}

.visi,
.visi-info {
  margin: 10px 40px 10px 40px;
  padding: 10px;
  text-align: center;
  justify-content: center;
}

#gambar {
  width: 100%;
  padding: 20px 0 20px 0;
}

/*detail*/
.ltr {
  padding-top: 50px;
}

.list {
  padding: 10px 20px 10px 20px;
}

.text {
  text-align: justify;
}

/* footer */
.closing {
  margin: 20px;
}

#contact {
  margin: 10px;
  display: flex;
  justify-content: space-between;
}

.media ul li {
  display: block;
  margin-left: 10px;
}

.media ul li a {
  text-decoration: none;
  color: white;
}

.media ul li a:hover {
  border-bottom: 2px solid white;
}

.sosmed {
  height: 30px;
  padding: 5px;
  margin-top: 5px;
  margin-bottom: -10px;
}

.email a {
  text-decoration: none;
}

footer {
  margin: 20px;
  padding: 5px;
}